[submodule "gui/imgui"]
	path = gui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "gui/nativefiledialog"]
	path = gui/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
